Source: fmtlib-erpg
Section: devel
Priority: optional
Maintainer: bogus <b@og.us>
Bugs: mailto:b@og.us
Homepage: http://fmtlib.net/latest/index.html
Standards-Version: 4.1.1
Build-Depends: debhelper (>=10), cmake

Package: libfmt-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Conflicts: libcppformat1-dev, libcppformat2-dev, libfmt3-dev
Description: fast type-safe C++ formatting library -- development files
 This library provides fast, type-safe, small, C++11-aware replacement of
 (s)printf and related machinery. In some cases it's noticeably faster
 than boost::format, boost::lexical_cast and even sprintf itself.
 .
 This package contains the development files, include the static library.
